<!--https://www.w3schools.com/html/html_basic.asp-->
<!DOCTYPE html>
<html>
<head> 
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<title>Dokkie</title>
</head>
<body>
<div class="center">

<h1>Onze missie</h1>
<em><p>Bij Dokkie geven we onze klanten de beste manier om zorgvuldig na een uitje hun geld te verdelen.</p>
<p>We geloven dat via onze app, klanten hun groepsuitgaven op een eenvoudige en veilige manier hun groepskosten kunnen verrekenen. </p>
<p>Hierdoor kunnen onze klanten genieten van vakanties, weekendjes weg, avondjes uit, gedeelde huishoudens, sport teams en nog veel meer.</p></em>

<h2>Over Dokkie zelf</h2>
<P>Wat 5 jaar geleden begon als een simpel geldsplitsing denkbeeld is inmiddels uitgegroeid tot een van de grootste online applicaties van Nederland.</P>
<P>Waar dagelijks 3 miljoen consumenten gebruik van maken.</P>
<!--https://www.w3schools.com/html/html_images.asp-->


<img src="../static/img/assets/cv.jpg" style="width:200px" >
<p>Davany is in 2027 afgestudeerd aan de HvA in de richting Business IT managment. Hierna is ze begonnen met het bouwen van de online applicatie, die we nu kennen als Dokkie.</p>
<p>Ze is op de middelbare school afgestudeerd van de HAVO en kan verschillende talen spreken. Zo kan ze vloeiend Engels, Duits en Nederlands.</p>

<h3>Werkervaring</h3>
<p>Schoonmaakster</p>
<p>Rentals Egmond
    Prinses Beatrixstraat 6, 1931 Cg Egmond aan Zee</p>
<p>2021 - 2022 </p>
<p>Medewerkster</p>
<p>Lidl Koedijk 
Saskerstraat 43, 1831 CW Koedijk</p>
<p>2022 - 2023 </p>
<p>Horeca medewerkster</p>
<p>De Zilt 
    C.F.Zeiler Boulevard 12, 1865 BB Bergen aan Zee</p>
<p>2023-heden</p>

<h4>Opleidingen</h4>
<p>Havo - Natuur & gezondheid</p>
<p>Stedelijk Dalton College Alkmaar
    Arubastraat 4, 1825 PV Alkmaar</p>
<p>2018 - 2023 </p>
<p>Business IT managment</p>
<p>Hogeschool van Amsterdam
    Wibautstraat 3b, 1091 GH Amsterdam</p>
<p>2023 - heden </p>


<h3>Contact</h3>
<!--https://www.w3schools.com/html/html_links.asp-->
<p><a href="mailto:Davyschaafsma@gmail.com">Mail</a></p>
<p><a href="tel:0639144353">Telefoonnummer</a></p>
<p>Saskerstraat 89, 1831CZ Koedijk</p>

</div>


</body>
</html> 
