{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Uitgave{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <table>
      <tr>
        <td>Betaald door: </td>
        <td>
          <select name="user_id" required>
            <option value="">Kies deelnemer</option>
            {% for participant in participants %}
              <option value="{{ participant['participantId'] }}">{{ participant['firstname'] }} {{ participant['lastname'] }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Omschrijving: </td>
        <td><input type="text" name="description" required></td>
      </tr>
      <tr>
        <td>Bedrag: </td>
        <td><input type="number" name="amount" step="0.01" required></td>
      </tr>
      <tr>
        <td><button id="more" type="submit">Opslaan</button></td>
      </tr>
    </table>
  </form>
{% endblock %}
